<div class="container mt-5 col-md-4">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">CES Login</div>
      <div class="card-body">
        <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
        
        <form (ngSubmit)="onLogin()">
          <div class="mb-3">
            <label>Username</label>
            <input type="text" class="form-control" [(ngModel)]="username" name="user">
          </div>
          <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="pass">
          </div>
          <button class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>