<div class="login-wrapper">
  
  <div class="login-container">
    <div class="logo-section">
      <i class="fa-solid fa-hurricane logo-icon"></i>
      <div class="logo-text">
        <h1>CES</h1>
        <p>CES | Customer Experience System</p>
      </div>
    </div>

    <div *ngIf="errorMsg" class="alert-box">
      {{ errorMsg }}
    </div>

    <form (ngSubmit)="onLogin()">
      <div class="input-group">
        <i class="fa-regular fa-user"></i>
        <input type="text" 
               class="login-input" 
               placeholder="Username" 
               [(ngModel)]="username" 
               name="username" 
               required>
      </div>
      
      <div class="input-group">
        <i class="fa-solid fa-lock"></i>
        <input type="password" 
               class="login-input" 
               placeholder="Password" 
               [(ngModel)]="password" 
               name="password" 
               required>
      </div>

      <button type="submit" class="login-button">Log In</button>
      
      <a href="#" class="forgot-password">Forgot Password?</a>
    </form>
  </div>

</div>